<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-md-3">
    <%= render 'books/list', user: @user, book: @bookc %>
  </div>
  <div class="col-md-8 offset-md-1">
  <p id="notice"></p>
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr id="book_<%= @book.id %>">
          <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size:"40x40" %>
          <p><%=link_to @user.name,user_path(@user.id) %></p>
          </td>
          <td><%=link_to @book.title,book_path %></td>
          <td><%= @book.body %></td>
          <% if @user.id == current_user.id %>
            <td><%=link_to "Edit",edit_book_path, class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy",book_path(@book.id), method: :delete, class:"btn btn-sm btn-danger", data: { confirm: '本当に消しますか？' }  %></td>
          <% end %>
          <td>コメント件数:<%=@book.book_comments.count %></td>
          <td class = "favorite-btn"><%= render "favorites/favorite-btn", book: @book %></td>
        </tr>
      </tbody>
    </table>
    <!--コメント入力-->
    <% @book.book_comments.each do |book_comment| %>
      <%= book_comment.user.name %>
      <%= book_comment.comment %>
      <% if book_comment.user == current_user %>
        <%= link_to "Destroy",book_book_comment_path(book_comment.book,book_comment), method: :delete, class:"btn btn-sm btn-danger" %>
      <% end %>
    <% end %>
    <%= form_with(model:[@book,@book_comment],local:true) do |f| %>
      <%= f.text_area :comment,rows:'5',placeholder:"コメントを入力" %>
      <%= f.submit "送信する" %>
    <% end %>


  </div>
</div>
</div>

